html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

 .Fbutton {
    background-color: white;
    color:#358CFE;
    font-weight: bold;
   border :none;
   border-radius:10px;
   font-family: 'Pretendard', monospace; }